<div class="row">
    <div class="col-sm devour-it">
        <h3>Burgers to be Eaten</h3>
        {{#each burgers}} {{#unless eat}}
        <div class="card">
            <div class="card-body">
                <h5>{{burger_name}}</h5>
                <button class="btn btn-primary mb-2 eat-btn" data-id="{{id}}">EAT IT</button>
            </div>
        </div>
        {{/unless}} {{/each}}
    </div>
    <div class="col-sm eat">
        <h3>Burgers Eaten</h3>
        {{#each burgers}} {{#if eat}}
        <div class="card">
            <div class="card-body">
               <h5>{{burger_name}}</h5>
            </div>
        </div>
        {{/if}} {{/each}}


    </div>
</div>
